In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.shape

(10000, 20)

In [4]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [5]:
data.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [7]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

#Проверка значений DistrictId
x=pd.Series(data['DistrictId'].unique())
x=x.sort_values()
x

In [8]:
data.drop('Healthcare_1', axis=1, inplace=True)

In [9]:
data.loc[data.HouseYear>2021]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [10]:
data.loc[data.HouseYear==20052011,'HouseYear']=2011
data.loc[data.HouseYear==4968,'HouseYear']=1968

In [11]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [13]:
lifesquare_square=(data['Square']/data['LifeSquare']).mean()
lifesquare_square

2.125506539950452

In [14]:
data['LifeSquare']=data['LifeSquare'].fillna(data['Square']/lifesquare_square)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [16]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.339113,6.273300,8.526700,12.609400,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.832032,28.560917,5.241148,6.775974,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.360510,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.295038,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,42.165321,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [17]:
data.loc[(data['Floor']>data['HouseFloor']),'Floor']=data.loc[(data['Floor']>data['HouseFloor']),'HouseFloor']

In [18]:
data.loc[data['Floor']>data['HouseFloor']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [19]:
data.loc[7]

Id                   11993
DistrictId              74
Rooms                    2
Square             80.3129
LifeSquare         37.7853
KitchenSquare            0
Floor                    0
HouseFloor               0
HouseYear             1977
Ecology_1        0.0757788
Ecology_2                B
Ecology_3                B
Social_1                 6
Social_2              1437
Social_3                 3
Helthcare_2              0
Shops_1                  2
Shops_2                  B
Price               221244
Name: 7, dtype: object

In [20]:
data.loc[data['Floor']==0,'Floor']=1

In [21]:
data.loc[data['HouseFloor']==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,37.785311,0.0,1.0,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664
23,6641,54,3.0,118.907612,55.943188,0.0,1.0,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,571069.052600
26,4378,27,3.0,106.958871,0.641822,0.0,1.0,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
39,9371,23,2.0,60.503248,28.465332,0.0,1.0,0.0,1977,0.034656,B,B,0,168,0,0,0,B,229778.057902
44,10521,38,3.0,104.211396,106.340403,0.0,1.0,0.0,2017,0.060753,B,B,15,2787,2,0,7,B,435462.048070
65,11398,62,1.0,41.194188,19.380881,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114063.092041
70,10362,27,2.0,79.227049,37.274432,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,167023.973143
195,4645,54,2.0,76.312851,35.903371,0.0,1.0,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,466730.805333
223,4622,27,2.0,62.153994,36.094352,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,194091.992560
252,8139,27,2.0,58.553809,27.548167,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,177511.314827
444,6224,59,3.0,106.349245,50.034776,0.0,1.0,0.0,1977,0.019509,B,B,37,7687,11,5,5,B,504820.057913
501,15923,27,1.0,26.553188,12.492640,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114256.236153
556,8610,35,1.0,47.410775,22.305636,0.0,1.0,0.0,1977,0.089040,B,B,33,7976,5,0,11,B,218138.095955
562,6916,27,1.0,43.011789,22.158763,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,179806.820951
594,8093,45,2.0,62.933064,29.608502,0.0,1.0,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,339455.271154
667,9684,88,3.0,86.431890,40.664137,0.0,1.0,0.0,1977,0.127376,B,B,43,8429,3,3,9,B,341533.892142
700,11548,27,2.0,41.610104,19.576559,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,120724.056008
730,12947,53,2.0,56.023342,26.357643,0.0,1.0,0.0,1977,0.049637,B,B,34,7759,0,1,3,B,247074.564832
805,15931,1,2.0,77.330279,36.382047,0.0,1.0,0.0,1977,0.007122,B,B,1,264,0,0,1,B,182657.618386
823,1498,45,3.0,83.515103,39.291859,0.0,1.0,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,429445.711752
839,9925,62,1.0,42.805164,20.138806,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,128889.593406
847,11828,27,1.0,52.539365,24.718515,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,140577.204332
861,15131,27,2.0,60.299356,28.369405,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,192309.274140
889,3429,27,1.0,47.020680,22.122105,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,163649.474447
896,6036,95,1.0,46.248238,21.758690,0.0,1.0,0.0,1977,0.000699,B,B,14,3369,24,0,3,B,516315.770611
900,8940,34,1.0,26.811587,12.614211,0.0,1.0,0.0,1977,0.069753,B,B,53,13670,4,1,11,B,175399.643453
924,11875,6,2.0,65.070052,30.613904,0.0,1.0,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,179219.981625
929,1827,27,1.0,38.037790,17.895870,0.0,1.0,0.0,1977,0.011654,B,B,4,915,0,0,0,B,101365.588283
932,9383,24,2.0,88.407297,41.593519,0.0,1.0,0.0,1977,0.111627,B,B,50,12238,8,2,3,B,427473.921933
942,4711,6,1.0,41.224118,19.394962,0.0,1.0,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,125612.639104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8888,184,23,1.0,56.786709,26.716789,0.0,1.0,0.0,1977,0.014073,B,B,2,475,0,0,0,B,107003.351865
8893,11090,1,1.0,41.197082,40.808976,0.0,1.0,0.0,1977,0.007122,B,B,1,264,0,0,1,B,127436.921010
8930,11532,23,2.0,55.550541,56.802256,0.0,1.0,0.0,1977,0.034656,B,B,0,168,0,0,0,B,116068.875171
8954,6581,62,2.0,65.131558,30.642841,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,156791.155868
8979,13670,22,1.0,87.485627,41.159896,0.0,1.0,0.0,1977,0.118537,B,B,30,6207,1,1,0,B,361744.269547
8996,15661,45,3.0,81.094922,38.153222,0.0,1.0,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,442472.456032
9014,4405,74,2.0,71.207458,33.501406,0.0,1.0,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,244700.814865
9030,8329,62,3.0,86.443771,40.669727,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,197124.921010
9057,14564,34,4.0,97.524848,97.046136,1.0,1.0,0.0,2016,0.069753,B,B,53,13670,4,1,11,B,401035.038716
9087,7767,1,2.0,90.856881,42.745990,0.0,1.0,0.0,1977,0.007122,B,B,1,264,0,0,1,B,287460.543713
9092,13884,45,2.0,62.460577,29.386208,0.0,1.0,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,349101.623151
9122,9150,6,1.0,43.067590,20.262271,0.0,1.0,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,126401.276372
9199,8755,62,2.0,79.329878,37.322810,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,202549.009085
9219,1737,23,1.0,59.963701,28.211487,0.0,1.0,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,171461.857684
9268,13665,62,2.0,57.717659,27.154778,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,176072.619971
9312,12761,27,1.0,37.667044,15.894112,8.0,1.0,0.0,1977,0.017647,B,B,2,469,0,0,0,B,115037.087485
9359,842,74,1.0,52.133425,24.527530,0.0,1.0,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,189274.011249
9395,16371,62,3.0,88.961872,41.854433,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,214155.478531
9432,338,46,5.0,147.709302,69.493694,0.0,1.0,0.0,1977,0.150818,B,B,16,3433,4,4,5,B,352168.955975
9458,3974,23,3.0,70.740638,33.281779,13.0,1.0,0.0,1977,0.005767,B,B,1,388,0,0,0,B,101223.446298
9534,15563,27,2.0,78.553375,36.957484,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,181955.274013
9573,805,27,3.0,80.701454,37.968104,0.0,1.0,0.0,1977,0.211401,B,B,9,1892,0,0,1,B,174758.681454
9593,2553,62,2.0,56.560809,26.610508,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,153997.912192
9606,12136,1,1.0,51.953707,24.442977,0.0,1.0,0.0,1977,0.007122,B,B,1,264,0,0,1,B,148682.719427
9628,14936,27,3.0,103.587261,48.735329,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,225901.938089
9707,12302,30,1.0,46.072913,48.307844,0.0,1.0,0.0,1977,0.000078,B,B,22,6398,141,3,23,B,161403.094034
9769,9384,59,3.0,98.607328,46.392390,0.0,1.0,0.0,1977,0.019509,B,B,37,7687,11,5,5,B,492700.257473
9878,11441,62,2.0,71.985335,72.453232,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,158841.624543
9908,3171,62,1.0,35.873961,16.877841,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,134379.130962
9944,16160,27,2.0,60.396765,28.415234,0.0,1.0,0.0,1977,0.072158,B,B,2,629,1,0,0,A,211810.600728

In [22]:
data.loc[data['HouseFloor']==0,'HouseFloor']=data.loc[data['HouseFloor'],'HouseFloor'].median()

In [23]:
data.loc[7]

Id                   11993
DistrictId              74
Rooms                    2
Square             80.3129
LifeSquare         37.7853
KitchenSquare            0
Floor                    1
HouseFloor              14
HouseYear             1977
Ecology_1        0.0757788
Ecology_2                B
Ecology_3                B
Social_1                 6
Social_2              1437
Social_3                 3
Helthcare_2              0
Shops_1                  2
Shops_2                  B
Price               221244
Name: 7, dtype: object

In [24]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,35.339113,6.273300,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.832032,28.560917,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.360510,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.295038,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,42.165321,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [25]:
data.loc[data['KitchenSquare']<=1].head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
2,4765,53,2.0,44.947953,29.197612,0.0,8.0,12.0,1968,0.049637,B,B,34,7759,0,1,3,B,220925.908524
7,11993,74,2.0,80.312926,37.785311,0.0,1.0,14.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,30.351089,1.0,9.0,17.0,1977,0.007122,B,B,1,264,0,0,1,B,229102.795999
12,6452,13,2.0,54.522805,31.759753,1.0,8.0,12.0,1999,0.090799,B,B,74,19083,2,5,15,B,229220.372609
14,10953,27,1.0,53.769097,52.408027,1.0,4.0,4.0,1977,0.072158,B,B,2,629,1,0,0,A,140647.565937

In [26]:
#data.loc[data['KitchenSquare']<=1,'KitchenSquare']=(data.loc[data['KitchenSquare']<=1,'Square']-data.loc[data['KitchenSquare']<=1,'LifeSquare'])

In [29]:
data.loc[data['KitchenSquare']<=1,'KitchenSquare']=3
data.loc[2]

Id                    4765
DistrictId              53
Rooms                    2
Square              44.948
LifeSquare         29.1976
KitchenSquare            3
Floor                    8
HouseFloor              12
HouseYear             1968
Ecology_1        0.0496373
Ecology_2                B
Ecology_3                B
Social_1                34
Social_2              7759
Social_3                 0
Helthcare_2              1
Shops_1                  3
Shops_2                  B
Price               220926
Name: 2, dtype: object

In [40]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,34.431404,6.974400,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,18.170075,28.443499,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.356037,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.277738,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,41.969903,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,638.163193,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [36]:
data.loc[data['LifeSquare']>data['Square'],'LifeSquare'],data.loc[data['LifeSquare']>data['Square'],'Square']=data.loc[data['LifeSquare']>data['Square'],'Square'],data.loc[data['LifeSquare']>data['Square'],'LifeSquare']

In [39]:
data.loc[data['LifeSquare']<=data['Square']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7.0,9.0,1969,8.903972e-02,B,B,33,7976,5,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7.0,9.0,1978,6.998930e-05,B,B,46,10309,1,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,3.0,8.0,12.0,1968,4.963726e-02,B,B,34,7759,0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8.0,17.0,1977,4.378852e-01,B,B,23,5735,3,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11.0,12.0,1976,1.233889e-02,B,B,35,5776,1,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5.0,17.0,2011,3.094791e-01,B,B,35,7715,4,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3.0,5.0,1960,4.605564e-01,B,B,20,4386,14,1,5,B,296021.204377
7,11993,74,2.0,80.312926,37.785311,3.0,1.0,14.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,30.351089,3.0,9.0,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13.0,17.0,2014,7.577876e-02,B,B,6,1437,3,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8.0,9.0,1973,1.185374e-01,B,B,30,6207,1,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1.0,8.0,1959,0.000000e+00,B,B,23,3684,2,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,3.0,8.0,12.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6.0,12.0,1980,1.332153e-01,B,B,49,11395,3,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,3.0,4.0,4.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4.0,9.0,1979,3.717782e-02,B,B,52,11217,1,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,5.0,5.0,1983,5.181543e-02,B,B,5,1227,0,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6.0,14.0,2001,6.975336e-02,B,B,53,13670,4,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6.0,12.0,1983,1.332153e-01,B,B,49,11395,3,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16.0,25.0,2012,9.913630e-04,B,B,33,6783,3,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12.0,17.0,2002,3.198094e-01,B,B,25,4756,16,5,8,B,521919.057400
21,11935,27,2.0,64.711835,30.445371,3.0,1.0,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19.0,22.0,1996,4.112463e-02,B,B,46,9515,5,1,10,B,215083.969056
23,6641,54,3.0,118.907612,55.943188,3.0,1.0,14.0,1977,6.076152e-03,B,B,30,5285,0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4.0,5.0,1964,2.074133e-02,B,B,24,5613,5,2,5,B,241718.099527
25,5073,74,2.0,82.667915,38.893277,3.0,16.0,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,3.0,1.0,14.0,2018,7.215758e-02,B,B,2,629,1,0,0,A,337299.867936
27,7550,23,2.0,64.556209,30.372153,3.0,8.0,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,173910.923723
28,8054,23,1.0,42.530043,42.530043,3.0,3.0,9.0,2014,3.465608e-02,B,B,0,168,0,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4.0,9.0,1972,1.696760e-04,B,B,36,5992,0,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8.0,9.0,1970,1.496664e-01,B,B,22,4789,2,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,17.0,17.0,1989,1.004557e-01,B,B,43,7227,0,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,38.648358,3.0,17.0,17.0,1977,2.432045e-01,B,B,5,1564,0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,14.0,14.0,1972,1.800000e-09,B,B,16,3681,73,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,3.0,4.0,4.0,2016,7.815280e-05,B,B,22,6398,141,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,28.254689,12.0,15.0,15.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,27.689303,3.0,10.0,17.0,1977,1.185374e-01,B,B,30,6207,1,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2.0,12.0,1970,6.076152e-03,B,B,30,5285,0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,31.762088,3.0,10.0,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13.0,17.0,1988,1.356498e-01,B,B,46,7960,6,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5.0,9.0,1972,2.827977e-01,B,B,33,8667,2,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10.0,12.0,1977,6.998930e-05,B,B,46,10309,1,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12.0,12.0,1968,4.378852e-01,B,B,23,5735,3,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,3.0,12.0,17.0,2015,2.432045e-01,B,B,5,1564,0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,9.0,9.0,1983,3.711490e-01,B,B,34,7065,1,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,18.333671,3.0,1.0,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,30.578238,3.0,9.0,22.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,26.167923,3.0,2.0,4.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5.0,23.0,1987,4.963726e-02,B,B,34,7759,0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,24.0,24.0,2005,4.111635e-02,B,B,53,14892,4,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2.0,5.0,1962,3.627009e-02,B,B,6,1318,1,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,17.0,17.0,2000,2.650887e-01,B,B,37,5288,0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5.0,16.0,1976,3.003225e-01,B,B,52,10311,6,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11.0,14.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,30.517054,3.0,17.0,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,5.0,5.0,1968,1.356498e-01,B,B,46,7960,6,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13.0,13.0,2000,0.000000e+00,B,B,30,5562,0,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,22.554157,3.0,12.0,16.0,2015,7.215758e-02,B,B,2,629,1,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1.0,5.0,1961,3.074667e-01,B,A,30,5048,9,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7.0,17.0,1990,0.000000e+00,B,B,27,4798,0,2,8,B,218714.077615

In [41]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,34.431404,6.974400,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,18.170075,28.443499,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.356037,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.277738,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,41.969903,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,638.163193,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [43]:
data.loc[data.Rooms==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0.0,138.427694,136.215499,3.0,3.0,3.0,2016,0.075424,B,B,11,3097,0,0,0,B,268394.744389
1981,7917,27,0.0,212.932361,211.231125,3.0,2.0,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
2269,7317,27,0.0,41.790881,19.661610,3.0,1.0,14.0,1977,0.211401,B,B,9,1892,0,0,1,B,98129.976788
3911,770,28,0.0,49.483501,23.280804,3.0,1.0,14.0,2015,0.118537,B,B,30,6207,1,1,0,B,217009.338463
4366,456,6,0.0,81.491446,38.339777,3.0,1.0,14.0,1977,0.243205,B,B,5,1564,0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,3.0,1.0,14.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9.0,16.0,1982,0.127376,B,B,43,8429,3,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,3.0,5.0,15.0,1977,0.211401,B,B,9,1892,0,0,1,B,219281.918007

In [56]:
square_rooms=(data.loc[(data['Rooms']>1)&(data['Rooms']<5),'LifeSquare']/data.loc[(data['Rooms']>1)&(data['Rooms']<5),'Rooms']).median()
square_rooms

15.68102378097821

In [64]:
data.loc[data.Rooms==0,'Rooms']=data.loc[data.Rooms==0,'LifeSquare']/square_rooms
data['Rooms']=data['Rooms'].astype(int)

In [65]:
data.loc[[1397,1981,2269,3911,4366,4853,6149,8834]]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,8,138.427694,136.215499,3.0,3.0,3.0,2016,0.075424,B,B,11,3097,0,0,0,B,268394.744389
1981,7917,27,13,212.932361,211.231125,3.0,2.0,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
2269,7317,27,1,41.790881,19.661610,3.0,1.0,14.0,1977,0.211401,B,B,9,1892,0,0,1,B,98129.976788
3911,770,28,1,49.483501,23.280804,3.0,1.0,14.0,2015,0.118537,B,B,30,6207,1,1,0,B,217009.338463
4366,456,6,2,81.491446,38.339777,3.0,1.0,14.0,1977,0.243205,B,B,5,1564,0,0,0,B,212864.799112
4853,3224,27,0,2.377248,0.873147,3.0,1.0,14.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
6149,3159,88,1,38.697117,19.345131,9.0,9.0,16.0,1982,0.127376,B,B,43,8429,3,3,9,B,158998.110646
8834,9443,27,5,87.762616,85.125471,3.0,5.0,15.0,1977,0.211401,B,B,9,1892,0,0,1,B,219281.918007

In [66]:
data.loc[data.Rooms==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4853,3224,27,0,2.377248,0.873147,3.0,1.0,14.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798

In [72]:
data.loc[4853,['Rooms','Square','LifeSquare']]=[1,23,20]
data.loc[4853]

Id                    3224
DistrictId              27
Rooms                    1
Square                  23
LifeSquare              20
KitchenSquare            3
Floor                    1
HouseFloor              14
HouseYear             1977
Ecology_1        0.0176471
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               469
Social_3                 0
Helthcare_2              0
Shops_1                  0
Shops_2                  B
Price               126597
Name: 4853, dtype: object

In [79]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.889900,56.317837,34.433317,6.974400,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.821733,21.054458,18.167548,28.443499,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,1.136859,0.370619,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.356037,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.277738,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,41.969903,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,13.000000,641.065193,638.163193,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [77]:
data.loc[data.Rooms>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,8,138.427694,136.215499,3.0,3.0,3.0,2016,0.075424,B,B,11,3097,0,0,0,B,268394.744389
1981,7917,27,13,212.932361,211.231125,3.0,2.0,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887

In [76]:
data.loc[data.Rooms>5,'Rooms']=data.loc[data.Rooms>5,'LifeSquare']/square_rooms
data['Rooms']=data['Rooms'].astype(int)

In [80]:
data.loc[data.Square>300]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4262,28,9,2,604.705972,284.499700,3.0,17.0,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1,409.425181,409.425181,10.0,4.0,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2,641.065193,638.163193,10.0,19.0,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562

In [83]:
data.loc[data.Square>300,['Square','LifeSquare']]=[[data.loc[data.Square>300,'Square']/10],[data.loc[data.Square>300,'LifeSquare']/10]]

In [85]:
data.loc[[4262,4690,6977]]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4262,28,9,2,60.470597,28.449970,3.0,17.0,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1,40.942518,40.942518,10.0,4.0,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2,64.106519,63.816319,10.0,19.0,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562

In [86]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.889900,56.168870,34.313429,6.974400,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.821733,19.145689,16.533896,28.443499,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,1.136859,0.370619,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.773051,22.356037,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.509275,31.275655,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,41.954393,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,13.000000,275.645284,233.949309,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [89]:
data.loc[data['KitchenSquare']>40,'KitchenSquare']=data.loc[data['KitchenSquare']>40,'KitchenSquare']/10

In [90]:
data.loc[data['KitchenSquare']>40]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1064,14656,62,1,47.100719,46.447960,201.4,1.0,1.0,2014,0.072158,B,B,2,629,1,0,0,A,108337.484207
8584,14679,81,1,32.276663,19.278394,197.0,1.0,1.0,1977,0.006076,B,B,30,5285,0,6,6,B,105539.556275

In [91]:
data.loc[[1064,8584],'KitchenSquare']=3

In [92]:
data.loc[[1064,8584]]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1064,14656,62,1,47.100719,46.447960,3.0,1.0,1.0,2014,0.072158,B,B,2,629,1,0,0,A,108337.484207
8584,14679,81,1,32.276663,19.278394,3.0,1.0,1.0,1977,0.006076,B,B,30,5285,0,6,6,B,105539.556275

In [96]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.889900,56.168870,34.313429,6.427290,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.821733,19.145689,16.533896,3.220892,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,1.136859,0.370619,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.773051,22.356037,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.509275,31.275655,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,41.954393,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,13.000000,275.645284,233.949309,40.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [101]:
data.loc[(data.Square-data.LifeSquare)<data.KitchenSquare,'LifeSquare']=data.loc[(data.Square-data.LifeSquare)<data.KitchenSquare,'Square']-data.loc[(data.Square-data.LifeSquare)<data.KitchenSquare,'KitchenSquare']

In [102]:
data.loc[(data.Square-data.LifeSquare)<data.KitchenSquare]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
551,1315,6,1,48.128114,43.328114,4.8,1.0,1.0,2013,0.243205,B,B,5,1564,0,0,0,B,146950.912410
1455,12507,54,2,79.810535,72.010535,7.8,10.0,15.0,2014,0.006076,B,B,30,5285,0,6,6,B,438708.707579
2916,12390,72,3,97.490674,87.890674,9.6,22.0,25.0,2019,0.210473,B,B,11,2398,2,3,0,B,445074.956552
5162,11739,27,2,61.070298,55.270298,5.8,8.0,17.0,2016,0.072158,B,B,2,629,1,0,0,A,212188.959537
7480,10546,62,1,46.013187,41.713187,4.3,4.0,17.0,2019,0.072158,B,B,2,629,1,0,0,A,113909.099428
8232,7162,34,2,56.738764,51.338764,5.4,25.0,25.0,2016,0.069753,B,B,53,13670,4,1,11,B,244220.621495
9895,2737,27,3,123.430072,111.130072,12.3,5.0,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047

In [104]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.889900,56.168870,33.847996,6.427290,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.821733,19.145689,15.942941,3.220892,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,1.136859,-1.863141,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.773051,22.319259,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.509275,31.129951,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,41.244234,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,13.000000,275.645284,233.949309,40.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [106]:
data.loc[data.Square<13]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2,5.497061,2.497061,3.0,22.0,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
1316,11526,27,1,4.633498,1.633498,3.0,1.0,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1608,10202,6,1,2.596351,-0.403649,3.0,3.0,25.0,2014,0.243205,B,B,5,1564,0,0,0,B,137597.601458
3280,10527,27,1,4.380726,1.380726,3.0,10.0,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
3413,9487,5,1,5.129222,2.129222,3.0,1.0,1.0,1977,0.150818,B,B,16,3433,4,4,5,B,369472.403061
4900,4504,27,3,4.390331,1.390331,3.0,8.0,19.0,2016,0.211401,B,B,9,1892,0,0,1,B,161379.067034
6392,14786,1,1,1.136859,-1.863141,3.0,1.0,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589
8030,13265,1,3,4.823679,1.823679,3.0,6.0,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8283,15744,34,1,1.988943,-1.011057,3.0,4.0,4.0,1977,0.069753,B,B,53,13670,4,1,11,B,458378.777006
9294,6782,45,1,2.954309,-0.045691,3.0,1.0,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,438005.182323
9613,7657,38,1,4.502784,1.502784,3.0,1.0,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083

In [107]:
data.loc[data.Square<13,'Square']=data.loc[data.Square<13,'Square']*10

In [108]:
data.loc[data.Square<13]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
6392,14786,1,1,11.368588,-1.863141,3.0,1.0,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589

In [109]:
data.loc[6392,'Square']=15

In [119]:
data.loc[data.LifeSquare<2]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
363,15751,9,1,44.171793,1.251846,3.0,11.0,18.0,2017,0.161532,B,B,25,5648,1,2,4,B,134910.715588
674,10631,88,1,42.571618,1.941521,3.0,1.0,1.0,1977,0.127376,B,B,43,8429,3,3,9,B,130374.241595
683,15091,27,2,66.535842,1.638083,3.0,1.0,1.0,1977,0.017647,B,B,2,469,0,0,0,B,175067.233991
707,4345,62,1,49.275155,1.377284,3.0,1.0,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
751,11989,62,3,104.446306,1.451067,3.0,12.0,15.0,2015,0.072158,B,B,2,629,1,0,0,A,223692.672480
850,2470,6,1,43.312025,1.404493,3.0,11.0,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,128588.741321
1316,11526,27,1,46.334984,1.633498,3.0,1.0,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1580,363,27,2,59.715762,1.595943,3.0,1.0,14.0,2018,0.072158,B,B,2,629,1,0,0,A,189331.645263
1827,16176,6,2,64.998310,1.974968,3.0,13.0,17.0,2015,0.243205,B,B,5,1564,0,0,0,B,175065.504600
2142,15261,22,3,83.162217,1.318250,3.0,1.0,1.0,2018,0.118537,B,B,30,6207,1,1,0,B,391390.261824
2224,3746,62,1,46.722042,1.944446,3.0,11.0,12.0,2018,0.072158,B,B,2,629,1,0,0,A,133721.121715
2665,8997,74,1,43.227719,1.726270,3.0,9.0,17.0,2016,0.075779,B,B,6,1437,3,0,2,B,154565.271940
2860,12542,1,1,44.204418,1.789086,3.0,6.0,17.0,1977,0.007122,B,B,1,264,0,0,1,B,160181.048031
2887,15402,27,2,58.521098,1.049867,3.0,4.0,17.0,2014,0.072158,B,B,2,629,1,0,0,A,142393.084641
2926,4866,62,1,38.005975,1.549931,3.0,13.0,15.0,2017,0.072158,B,B,2,629,1,0,0,A,107147.609125
2932,6385,6,1,43.612945,1.519147,3.0,11.0,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,123984.998458
3045,12828,27,1,40.288833,1.487210,3.0,1.0,14.0,2016,0.211401,B,B,9,1892,0,0,1,B,95779.608687
3072,1388,54,2,74.747303,1.411101,3.0,7.0,22.0,1977,0.006076,B,B,30,5285,0,6,6,B,431137.951634
3280,10527,27,1,43.807258,1.380726,3.0,10.0,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
3298,9955,6,2,64.083268,1.894269,3.0,2.0,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,187599.924231
3379,16781,27,1,36.138409,1.384088,36.0,19.0,19.0,2017,0.072158,B,B,2,629,1,0,0,A,131742.536281
3730,12049,1,2,61.541353,1.242250,3.0,20.0,22.0,2014,0.007122,B,B,1,264,0,0,1,B,206168.319222
3935,12198,6,1,41.939733,1.071193,3.0,12.0,17.0,2019,0.243205,B,B,5,1564,0,0,0,B,127233.289627
4037,5762,27,2,67.983723,1.471491,3.0,1.0,1.0,2019,0.211401,B,B,9,1892,0,0,1,B,152932.624905
4268,6631,85,1,48.990533,1.104689,3.0,5.0,17.0,1977,0.072158,B,B,2,629,1,0,0,A,124761.832592
4526,915,6,2,66.854936,1.258886,3.0,1.0,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,180416.401098
4588,448,48,1,41.186904,1.626502,4.1,1.0,1.0,1977,0.041125,B,B,46,9515,5,1,10,B,216882.265408
4667,10899,6,1,39.709108,1.836365,3.0,10.0,25.0,2017,0.243205,B,B,5,1564,0,0,0,B,134922.641633
4788,6241,23,1,37.710823,1.312908,3.0,3.0,4.0,2016,0.034656,B,B,0,168,0,0,0,B,96563.367810
4900,4504,27,3,43.903309,1.390331,3.0,8.0,19.0,2016,0.211401,B,B,9,1892,0,0,1,B,161379.067034
5094,884,52,2,67.064373,1.477182,3.0,15.0,15.0,2015,0.371149,B,B,34,7065,1,2,5,B,220658.160421
5540,11412,27,3,88.934210,1.819834,3.0,8.0,12.0,1977,0.072158,B,B,2,629,1,0,0,A,219463.505244
5624,7558,9,3,80.288136,1.297030,3.0,14.0,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,254966.798112
5822,10268,27,1,36.112393,1.855415,3.0,9.0,16.0,1977,0.211401,B,B,9,1892,0,0,1,B,94881.691800
5984,3575,27,2,65.620926,1.819046,3.0,1.0,14.0,2015,0.072158,B,B,2,629,1,0,0,A,211345.630469
6354,10930,9,2,65.568381,1.150046,3.0,1.0,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,187858.706484
6392,14786,1,1,15.000000,1.863141,3.0,1.0,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589
6517,2398,62,1,50.022583,1.538058,3.0,1.0,1.0,1977,0.072158,B,B,2,629,1,0,0,A,130720.196859
7139,8044,45,2,62.777104,1.141118,3.0,10.0,17.0,1977,0.195781,B,B,23,5212,6,3,2,B,332118.521912
7221,5306,96,1,49.462997,1.417155,3.0,8.0,15.0,2016,0.041116,B,B,53,14892,4,1,4,B,119791.098164
7384,12245,23,2,67.032994,1.139667,3.0,3.0,17.0,1977,0.034656,B,B,0,168,0,0,0,B,185006.418232
7452,8626,1,1,47.195748,1.168791,3.0,19.0,24.0,1977,0.007122,B,B,1,264,0,0,1,B,170718.296542
7647,7627,58,3,82.535096,1.626501,3.0,16.0,17.0,2016,0.437885,B,B,23,5735,3,0,5,B,218975.318679
8030,13265,1,3,48.236794,1.823679,3.0,6.0,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8065,7669,34,1,43.873302,1.973848,3.0,13.0,17.0,2015,0.069753,B,B,53,13670,4,1,11,B,204863.503174
8283,15744,34,1,19.889427,1.011057,3.0,4.0,4.0,1977,0.069753,B,B,53,13670,4,1,11,B,458378.777006
8487,11829,34,4,98.047744,1.451846,3.0,1.0,1.0,1977,0.069753,B,B,53,13670,4,1,11,B,366655.111294
8711,8601,6,3,80.968060,1.239622,3.0,6.0,17.0,2017,0.243205,B,B,5,1564,0,0,0,B,217669.112875
8715,1936,74,1,53.835574,1.185864,3.0,7.0,7.0,2018,0.075779,B,B,6,1437,3,0,2,B,185976.351147
9264,5458,9,2,62.920673,1.591420,3.0,1.0,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,180234.142008
9613,7657,38,1,45.027837,1.502784,3.0,1.0,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083

In [112]:
data.loc[data.LifeSquare<0,'LifeSquare']=data.loc[data.LifeSquare<0,'LifeSquare']*(-1)

In [120]:
data.loc[data.LifeSquare<2,'LifeSquare']=data.loc[data.LifeSquare<2,'LifeSquare']*10

In [118]:
data.loc[9294,'LifeSquare']=20

In [121]:
data.loc[data.LifeSquare<2]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [127]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.889900,56.207063,34.299327,6.427290,7.727300,12.986000,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.821733,19.080457,15.453037,3.220892,5.267344,6.445662,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,13.784865,10.110573,2.000000,1.000000,1.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.784346,22.481556,3.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,31.331103,6.000000,7.000000,14.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,41.463731,9.000000,11.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,13.000000,275.645284,233.949309,40.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [124]:
data.loc[data.LifeSquare<10,'LifeSquare']=data.loc[data.LifeSquare<10,'Rooms']*square_rooms

In [126]:
data.loc[data.LifeSquare<10]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []